*.*
.vscode
build
!.devcontainer
!.gitignore
!.github
!*.dockerfile
!*.json
!*.c
!*.cpp
!*.h
!*.hpp
!CMakeLists.txt
!*.cmake
!*.dsl
!*.yml
!*.py
!*.sh
!*.proto
!.clangd

automation/venv/*
!automation/venv/pyvenv.cfg
!automation/requirements.txt